*{
    font-family: 'poppins' sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
}
:root{
    --main-color:#ffb43a;
    --hover-color:hsl(37, 94%, 57%);
    --body-color:#1e1e2a;
    --container-color:#2d2e37;
    --text-color:#fcfeff;
}
.maurya{
    border: 1px solid black;
    padding: 8px 14px;
    background-image:url(https://i.pinimg.com/736x/43/01/e6/4301e6bf6f9f62ef6e540426b831cf5a.jpg) ;
    flex: 1;
    text-align: right;
}
.nav-link {
    margin-left: 50px;
    color: black;
    font-size: 30px;
}
.nav-link :hover{
    color: rgb(76, 233, 14);
    transition: 0.5s;
}
.nav-active{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    margin-left: 50px;
    color: rgb(76, 233, 14);
    font-size: 30px;
    background:black;
    padding: 5px 2px;
    cursor: pointer;
}
.nav-active:hover{
    box-shadow: 0 0 20px 0px wheat;
    color: black;
    background:red;
}
.nikhil{
    text-align: center;
    background-color: brown;
    color: black;
    font-size: xx-large;
}
.back{
    text-align: center;
    background-image: url(https://media.architecturaldigest.com/photos/6172dd9598295f46efb29105/2:1/w_1280%2Cc_limit/1153038539);
    position: absolute;
    width: 40%;
    height: 50%;
    margin-top: 10px;
    margin-left: 50%;
    margin-right: 5%;
}
.back:hover{
    box-shadow: 0 0 20px 0px black;
}
.back h1{
    text-align: center;
    margin-top: 20%;
    font-size: 40px;
}
.back a{
    display: inline-block;
    text-decoration:none ;
    color:black;
    border: 1px solid black;
    padding: 4px;
    font-size: 13px;
    position: relative;
    background: transparent;
    cursor: pointer;
}
.back a:hover{
    background-color: red;
    transition: 0.5s;
}
.back-flower{
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1586082207282-3dcb61d25ebd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cm9zZSUyMGZsb3dlcnxlbnwwfHwwfHw%3D&w=1000&q=80);
    position: absolute;
    width: 40%;
    height: 50%;
    margin-top: 10px;
    margin-right: 50%;
    margin-left: 5%;
}
.back-flower:hover{
    box-shadow: 0 0 20px 0px black;
}
.back-flower h1{
    text-align: center;
    margin-top: 20%;
    font-size: 40px;
}
.back-flower a{
    display: inline-block;
    text-decoration:none ;
    color:black;
    border: 1px solid black;
    padding: 4px;
    font-size: 13px;
    position: relative;
    background: transparent;
    cursor: pointer;
}
.back-flower a:hover{
    background-color: red;
    transition: 0.5s;
}
.back-flower-me{
    text-align: center;
    background-image: url(https://www.giftalove.com/blog/wp-content/uploads/orchid-flowers.jpg);
    position: absolute;
    width: 80%;
    height: 50%;
    margin-top:30%;
    margin-right: 50%;
    margin-left: 10%;
}
.back-flower-me:hover{
    box-shadow: 0 0 20px 0px black;
}
.back-flower-me h1{
    text-align: center;
    margin-top: 10%;
    font-size: 60px;
}
.back-flower-me a{
    display: inline-block;
    text-decoration:none ;
    color:black;
    border: 1px solid black;
    padding: 4px;
    font-size: 20px;
    position: relative;
    background: transparent;
    cursor: pointer;
}
.back-flower-me a:hover{
    background-color: red;
    transition: 0.5s;
}
.Flower{
    text-align: center;
    background-image: url(https://cdn.shopify.com/s/files/1/1904/8475/products/CrackerjackMarigold_large.jpg?v=1639071253);
    position: absolute;
    width: 30%;
    height: 50%;
    margin-top: 60%;
    margin-right: 50%;
    margin-left: 2%;
}
.Flower:hover{
    box-shadow: 0 0 20px 0px black;
}
.Flower h1{
    text-align: center;
    margin-top: 20%;
    font-size: 40px;
}
.Flower a{
    display: inline-block;
    text-decoration:none ;
    color:black;
    border: 1px solid black;
    padding: 4px;
    font-size: 13px;
    position: relative;
    background: transparent;
    cursor: pointer;
}
.Flower a:hover{
    background-color: red;
    transition: 0.5s;
}
.Flower-me{
    text-align: center;
    background-image: url(https://www.apnikheti.com/upload/crops/7305idea99Marigold.jpg);
    position: absolute;
    width: 30%;
    height: 50%;
    margin-top: 60%;
    margin-right: 30%;
    margin-left: 35%;
}
.Flower-me:hover{
    box-shadow: 0 0 20px 0px black;
}
.Flower-me h1{
    text-align: center;
    margin-top: 20%;
    font-size: 40px;
}
.Flower-me a{
    display: inline-block;
    text-decoration:none ;
    color:black;
    border: 1px solid black;
    padding: 4px;
    font-size: 13px;
    position: relative;
    background: transparent;
    cursor: pointer;
}
.Flower-me a:hover{
    background-color: red;
    transition: 0.5s;
}
.Flower-me-now{
    text-align: center;
    background-image: url(https://secretthoughtswithin.files.wordpress.com/2021/12/ode-to-the-marigold-revisiting-a-garden-staple.jpg);
    position: absolute;
    width: 30%;
    height: 50%;
    margin-top: 60%;
    margin-right: 10%;
    margin-left: 68%;
}
.Flower-me-now:hover{
    box-shadow: 0 0 20px 0px black;
}
.Flower-me-now h1{
    text-align: center;
    margin-top: 20%;
    font-size: 40px;
}
.Flower-me-now a{
    display: inline-block;
    text-decoration:none ;
    color:black;
    border: 1px solid black;
    padding: 4px;
    font-size: 13px;
    position: relative;
    background: transparent;
    cursor: pointer;
}
.Flower-me-now a:hover{
    background-color: red;
    transition: 0.5s;
}
.home{
    position: relative;
    min-height: 470px;
    display: flex;
    align-items: center;
    margin-top: 5rem ;
    border-radius: 0.5rem;
}
.home-img{
    position: absolute;
    width: 90%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-left: 80px;
}
.back-me{
    display: inline-block;
    text-decoration:none ;
    color:black;
    border: 1px solid black;
    padding: 0px;
    font-size: 30px;
    position: relative;
    background: transparent;
    cursor: pointer;
    margin-left: -20%;
}
.back-me:hover{
    background-color: red;
    transition: 0.5s;
}
.font{
    margin-top: -10%;
    margin-left: 50%;
    font-size: 50px;
}
@media  (max-width:900px){
    .nav-link {
        margin-left: 30px;
        color: black;
        font-size: 30px;
    }
    .nav-link :hover{
        color: rgb(76, 233, 14);
        transition: 0.5s;
    }
    .back{
        text-align: center;
        background-image: url(https://media.architecturaldigest.com/photos/6172dd9598295f46efb29105/2:1/w_1280%2Cc_limit/1153038539);
        position: absolute;
        width: 40%;
        height: 50%;
        margin-top: 10px;
        margin-left: 50%;
        margin-right: 5%;
    }
    .back:hover{
        box-shadow: 0 0 20px 0px black;
    }
    .back h1{
        text-align: center;
        margin-top: 20%;
        font-size: 40px;
    }
    .back a{
        display: inline-block;
        text-decoration:none ;
        color:black;
        border: 1px solid black;
        padding: 4px;
        font-size: 13px;
        position: relative;
        background: transparent;
        cursor: pointer;
    }
    .back a:hover{
        background-color: red;
        transition: 0.5s;
    }
    .back-flower{
        text-align: center;
        background-image: url(https://images.unsplash.com/photo-1586082207282-3dcb61d25ebd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cm9zZSUyMGZsb3dlcnxlbnwwfHwwfHw%3D&w=1000&q=80);
        position: absolute;
        width: 40%;
        height: 50%;
        margin-top: 10px;
        margin-right: 50%;
        margin-left: 5%;
    }
    .back-flower:hover{
        box-shadow: 0 0 20px 0px black;
    }
    .back-flower h1{
        text-align: center;
        margin-top: 20%;
        font-size: 40px;
    }
    .back-flower a{
        display: inline-block;
        text-decoration:none ;
        color:black;
        border: 1px solid black;
        padding: 4px;
        font-size: 13px;
        position: relative;
        background: transparent;
        cursor: pointer;
    }
    .back-flower a:hover{
        background-color: red;
        transition: 0.5s;
    }
    .back-flower-me{
        text-align: center;
        background-image: url(https://www.giftalove.com/blog/wp-content/uploads/orchid-flowers.jpg);
        position: absolute;
        width: 80%;
        height: 40%;
        margin-top:120%;
        margin-right: 50%;
        margin-left: 10%;
    }
    .back-flower-me:hover{
        box-shadow: 0 0 20px 0px black;
    }
    .back-flower-me h1{
        text-align: center;
        margin-top: 10%;
        font-size: 60px;
    }
    .back-flower-me a{
        display: inline-block;
        text-decoration:none ;
        color:black;
        border: 1px solid black;
        padding: 4px;
        font-size: 20px;
        position: relative;
        background: transparent;
        cursor: pointer;
    }
    .back-flower-me a:hover{
        background-color: red;
        transition: 0.5s;
    }
    .Flower{
        text-align: center;
        background-image: url(https://cdn.shopify.com/s/files/1/1904/8475/products/CrackerjackMarigold_large.jpg?v=1639071253);
        position: absolute;
        width: 40%;
        height: 40%;
        margin-top: 200%;
        margin-right: 50%;
        margin-left: 2%;
    }
    .Flower:hover{
        box-shadow: 0 0 20px 0px black;
    }
    .Flower h1{
        text-align: center;
        margin-top: 20%;
        font-size: 40px;
    }
    .Flower a{
        display: inline-block;
        text-decoration:none ;
        color:black;
        border: 1px solid black;
        padding: 4px;
        font-size: 13px;
        position: relative;
        background: transparent;
        cursor: pointer;
    }
    .Flower a:hover{
        background-color: red;
        transition: 0.5s;
    }
    .Flower-me{
        text-align: center;
        background-image: url(https://www.apnikheti.com/upload/crops/7305idea99Marigold.jpg);
        position: absolute;
        width: 40%;
        height: 40%;
        margin-top: 200%;
        margin-right: 30%;
        margin-left: 50%;
    }
    .Flower-me:hover{
        box-shadow: 0 0 20px 0px black;
    }
    .Flower-me h1{
        text-align: center;
        margin-top: 20%;
        font-size: 40px;
    }
    .Flower-me a{
        display: inline-block;
        text-decoration:none ;
        color:black;
        border: 1px solid black;
        padding: 4px;
        font-size: 13px;
        position: relative;
        background: transparent;
        cursor: pointer;
    }
    .Flower-me a:hover{
        background-color: red;
        transition: 0.5s;
    }
    .Flower-me-now{
        text-align: center;
        background-image: url(https://secretthoughtswithin.files.wordpress.com/2021/12/ode-to-the-marigold-revisiting-a-garden-staple.jpg);
        position: absolute;
        width: 70%;
        height: 40%;
        margin-top: 290%;
        margin-right: 10%;
        margin-left: 10%;
    }
    .Flower-me-now:hover{
        box-shadow: 0 0 20px 0px black;
    }
    .Flower-me-now h1{
        text-align: center;
        margin-top: 20%;
        font-size: 40px;
    }
    .Flower-me-now a{
        display: inline-block;
        text-decoration:none ;
        color:black;
        border: 1px solid black;
        padding: 4px;
        font-size: 13px;
        position: relative;
        background: transparent;
        cursor: pointer;
    }
    .Flower-me-now a:hover{
        background-color: red;
        transition: 0.5s;
    }
    .home{
        position: relative;
        min-height: 470px;
        display: flex;
        align-items: center;
        margin-top: 5rem;
        border-radius: 0.5rem;
    }
    .home-img{
        position: absolute;
        width: 90%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        border-radius: 0.5rem;
        margin-left: 20px;
    }
    .back-me{
        display: inline-block;
        text-decoration:none ;
        color:black;
        border: 1px solid black;
        padding: 0px;
        font-size: 30px;
        position: relative;
        background: transparent;
        cursor: pointer;
        margin-left: -50%;
    }
    .back-me:hover{
        background-color: red;
        transition: 0.5s;
    }
    .font{
        margin-top: -50%;
        margin-left: 20%;
        font-size: 50px;
    }
    .testimonials{
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 100px;
        margin-top: 340%;
    }
}
.testimonials{
    width: 40%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    margin-top: 80%;
}
.testimonials-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fcf8f8;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonials-col:hover{
    box-shadow: 0 0 20px 0px black;
}
.testimonials-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonials-col p{
    padding: 0;
}
.testimonials-col h3{
    margin-top: 15px;
    text-align: left;
}
.cta{
    margin: 100px auto;
    width: 70%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-image: url(https://media.istockphoto.com/photos/take-these-flowers-picture-id603996774?k=20&m=603996774&s=612x612&w=0&h=AeFlFjDXoaOBSsb4ATmoVH0mu9djXvnawvOuJM7RrAQ=);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta:hover{
    box-shadow: 0 0 20px 0px black ;
}
.cta h1{
    color: rgb(3, 133, 35);
    margin-bottom: 0;
    padding: 0;
    

}
.cta-btn{
    display: inline-block;
    text-decoration:none ;
    color:black;
    border: 1px solid black;
    padding: 12px 30px;
    font-size: 13px;
    position: relative;
    background: transparent;
    cursor: pointer;
}
.cta-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}